### 1. basic data

In [1]:
import pandas as pd

path_file = pd.read_csv('./basic.csv')
path_file.head()

         hz    ampliture
0  0.000000  5845.644302
1  0.114441   268.892458
2  0.228882   259.570802
3  0.343323   255.457923
4  0.457764   267.371884

In [2]:
path_file['y'] = 0
path_file.head()

         hz    ampliture  y
0  0.000000  5845.644302  0
1  0.114441   268.892458  0
2  0.228882   259.570802  0
3  0.343323   255.457923  0
4  0.457764   267.371884  0

In [3]:
path_file.tail()

                hz  ampliture  y
65531  7499.427795   1.044629  0
65532  7499.542236   1.024796  0
65533  7499.656677   1.065602  0
65534  7499.771118   1.332912  0
65535  7499.885559   1.279753  0

In [4]:
basic = path_file.loc[0:999]
basic.tail()

             hz  ampliture  y
995  113.868713  13.383463  0
996  113.983154  20.113768  0
997  114.097595  11.723803  0
998  114.212036   4.341749  0
999  114.326477   0.684889  0

In [5]:
basic.to_csv("basic_data.csv", header=False, index=False)
len(basic)

1000

### 2. fire_siren data

In [6]:
path_file_2 = pd.read_csv('./fire_siren.csv')

path_file_2.head()

         hz     ampliture
0  0.000000  11991.170350
1  0.114441    463.173330
2  0.228882    713.324933
3  0.343323    446.103154
4  0.457764    306.667512

In [7]:
path_file_2['y'] = 1
path_file_2.head()

         hz     ampliture  y
0  0.000000  11991.170350  1
1  0.114441    463.173330  1
2  0.228882    713.324933  1
3  0.343323    446.103154  1
4  0.457764    306.667512  1

In [8]:
path_file_2.tail()

                hz  ampliture  y
65531  7499.427795   2.815788  1
65532  7499.542236   2.331213  1
65533  7499.656677   3.427919  1
65534  7499.771118   3.356550  1
65535  7499.885559   1.527516  1

In [9]:
fire_siren = path_file_2.loc[0:999]
fire_siren.tail()

             hz  ampliture  y
995  113.868713  18.481941  1
996  113.983154  20.606362  1
997  114.097595  41.745309  1
998  114.212036  20.541159  1
999  114.326477  15.314640  1

In [10]:
fire_siren.to_csv("fire_siren_data.csv", header=False, index=False)
len(fire_siren)

1000

### 3. fire_truck data

In [11]:
path_file_3 = pd.read_csv('./fire_truck.csv')

path_file_3.head()

         hz    ampliture
0  0.000000  7859.148911
1  0.114441   610.070183
2  0.228882   117.706643
3  0.343323   178.497290
4  0.457764   236.253854

In [12]:
path_file_3['y'] = 2
path_file_3.head()

         hz    ampliture  y
0  0.000000  7859.148911  2
1  0.114441   610.070183  2
2  0.228882   117.706643  2
3  0.343323   178.497290  2
4  0.457764   236.253854  2

In [13]:
path_file_3.tail()

                hz  ampliture  y
65531  7499.427795   5.050782  2
65532  7499.542236   5.586551  2
65533  7499.656677   4.625564  2
65534  7499.771118   6.180280  2
65535  7499.885559   2.415623  2

In [14]:
fire_truck = path_file_3.loc[0:999]
fire_truck.tail()

             hz  ampliture  y
995  113.868713   6.660062  2
996  113.983154   1.880054  2
997  114.097595   7.905661  2
998  114.212036  12.539993  2
999  114.326477   4.179296  2

In [15]:
fire_truck.to_csv("fire_truck_data.csv", header=False, index=False)
len(fire_truck)

1000

### 4. ambul data

In [16]:
path_file_4 = pd.read_csv('./ambul.csv')

path_file_4.head()

         hz    ampliture
0  0.000000  9438.999146
1  0.114441   311.445896
2  0.228882   323.734531
3  0.343323   260.421789
4  0.457764    18.989287

In [17]:
path_file_4['y'] = 3
path_file_4.head()

         hz    ampliture  y
0  0.000000  9438.999146  3
1  0.114441   311.445896  3
2  0.228882   323.734531  3
3  0.343323   260.421789  3
4  0.457764    18.989287  3

In [18]:
path_file_4.tail()

                hz  ampliture  y
65531  7499.427795   5.301734  3
65532  7499.542236   6.235771  3
65533  7499.656677   6.966210  3
65534  7499.771118   4.212205  3
65535  7499.885559   8.278224  3

In [19]:
ambul = path_file_4.loc[0:999]
ambul.tail()

             hz  ampliture  y
995  113.868713  31.534474  3
996  113.983154  20.740961  3
997  114.097595  10.694307  3
998  114.212036  12.891697  3
999  114.326477  18.067423  3

In [40]:
ambul.to_csv("ambul_data.csv", header=False, index=False)
len(ambul)

1000

## Merge Data

In [41]:
data_1 = pd.concat([basic,fire_siren])
data_1.head()

         hz    ampliture  y
0  0.000000  5845.644302  0
1  0.114441   268.892458  0
2  0.228882   259.570802  0
3  0.343323   255.457923  0
4  0.457764   267.371884  0

In [42]:
data_1.tail()

             hz  ampliture  y
995  113.868713  18.481941  1
996  113.983154  20.606362  1
997  114.097595  41.745309  1
998  114.212036  20.541159  1
999  114.326477  15.314640  1

In [43]:
len(data_1)

2000

In [44]:
data_1 = pd.concat([basic,fire_siren], ignore_index=True)
data_1.head()

         hz    ampliture  y
0  0.000000  5845.644302  0
1  0.114441   268.892458  0
2  0.228882   259.570802  0
3  0.343323   255.457923  0
4  0.457764   267.371884  0

In [45]:
data_1.tail()

              hz  ampliture  y
1995  113.868713  18.481941  1
1996  113.983154  20.606362  1
1997  114.097595  41.745309  1
1998  114.212036  20.541159  1
1999  114.326477  15.314640  1

In [46]:
len(data_1)

2000

In [48]:
data_2 = pd.concat([data_1,fire_truck], ignore_index=True)
data_2.head()

         hz    ampliture  y
0  0.000000  5845.644302  0
1  0.114441   268.892458  0
2  0.228882   259.570802  0
3  0.343323   255.457923  0
4  0.457764   267.371884  0

In [50]:
data_2.tail()

              hz  ampliture  y
2995  113.868713   6.660062  2
2996  113.983154   1.880054  2
2997  114.097595   7.905661  2
2998  114.212036  12.539993  2
2999  114.326477   4.179296  2

In [51]:
len(data_2)

3000

In [53]:
data_3 = pd.concat([data_2, ambul], ignore_index=True)
data_3.head()

         hz    ampliture  y
0  0.000000  5845.644302  0
1  0.114441   268.892458  0
2  0.228882   259.570802  0
3  0.343323   255.457923  0
4  0.457764   267.371884  0

In [54]:
data_3.tail()

              hz  ampliture  y
3995  113.868713  31.534474  3
3996  113.983154  20.740961  3
3997  114.097595  10.694307  3
3998  114.212036  12.891697  3
3999  114.326477  18.067423  3

In [55]:
len(data_3)

4000

In [56]:
data_3.to_csv("data.csv", header=False, index=False)
len(data_3)

4000