### 1. basic data

In [9]:
import pandas as pd

basic_path = pd.read_csv('./basic.csv')
print(len(basic_path))
basic_path.head()

65536

         hz    ampliture
0  0.000000  5845.644302
1  0.114441   268.892458
2  0.228882   259.570802
3  0.343323   255.457923
4  0.457764   267.371884

In [12]:
basic_path['y'] = 0
basic_path.head()

         hz    ampliture  y
0  0.000000  5845.644302  0
1  0.114441   268.892458  0
2  0.228882   259.570802  0
3  0.343323   255.457923  0
4  0.457764   267.371884  0

In [13]:
basic_path.tail()

                hz  ampliture  y
65531  7499.427795   1.044629  0
65532  7499.542236   1.024796  0
65533  7499.656677   1.065602  0
65534  7499.771118   1.332912  0
65535  7499.885559   1.279753  0

In [14]:
basic_path.to_csv("basic_data_v2.csv", header=True, index=False)
len(basic_path)

65536

### 2. fire_siren data

In [17]:
fire_siren_path = pd.read_csv('./fire_siren.csv')
print(len(fire_siren_path))
fire_siren_path.head()

65536

         hz     ampliture
0  0.000000  11991.170350
1  0.114441    463.173330
2  0.228882    713.324933
3  0.343323    446.103154
4  0.457764    306.667512

In [18]:
fire_siren_path['y'] = 1
fire_siren_path.head()

         hz     ampliture  y
0  0.000000  11991.170350  1
1  0.114441    463.173330  1
2  0.228882    713.324933  1
3  0.343323    446.103154  1
4  0.457764    306.667512  1

In [19]:
fire_siren_path.tail()

                hz  ampliture  y
65531  7499.427795   2.815788  1
65532  7499.542236   2.331213  1
65533  7499.656677   3.427919  1
65534  7499.771118   3.356550  1
65535  7499.885559   1.527516  1

In [20]:
fire_siren_path.to_csv("fire_siren_data_v2.csv", header=True, index=False)
len(fire_siren_path)

65536

### 3. fire_truck data

In [22]:
fire_truck_path = pd.read_csv('./fire_truck.csv')
print(len(fire_truck_path))
fire_truck_path.head()

65536

         hz    ampliture
0  0.000000  7859.148911
1  0.114441   610.070183
2  0.228882   117.706643
3  0.343323   178.497290
4  0.457764   236.253854

In [30]:
fire_truck_path['y'] = 2
fire_truck_path.head()

         hz    ampliture  y
0  0.000000  7859.148911  2
1  0.114441   610.070183  2
2  0.228882   117.706643  2
3  0.343323   178.497290  2
4  0.457764   236.253854  2

In [31]:
fire_truck_path.tail()

                hz  ampliture  y
65531  7499.427795   5.050782  2
65532  7499.542236   5.586551  2
65533  7499.656677   4.625564  2
65534  7499.771118   6.180280  2
65535  7499.885559   2.415623  2

In [32]:
fire_truck_path.to_csv("fire_truck_data_v2.csv", header=True, index=False)
len(fire_truck_path)

65536

### 4. ambul data

In [33]:
ambul_path = pd.read_csv('./ambul.csv')
print(len(ambul_path))
ambul_path.head()

65536

         hz    ampliture
0  0.000000  9438.999146
1  0.114441   311.445896
2  0.228882   323.734531
3  0.343323   260.421789
4  0.457764    18.989287

In [34]:
ambul_path['y'] = 3
ambul_path.head()

         hz    ampliture  y
0  0.000000  9438.999146  3
1  0.114441   311.445896  3
2  0.228882   323.734531  3
3  0.343323   260.421789  3
4  0.457764    18.989287  3

In [35]:
ambul_path.tail()

                hz  ampliture  y
65531  7499.427795   5.301734  3
65532  7499.542236   6.235771  3
65533  7499.656677   6.966210  3
65534  7499.771118   4.212205  3
65535  7499.885559   8.278224  3

In [36]:
ambul_path.to_csv("ambul_data_v2.csv", header=True, index=False)
len(ambul_path)

65536

## Merge Data

In [38]:
data_1 = pd.concat([basic_path, fire_siren_path])
data_1.head()

         hz    ampliture  y
0  0.000000  5845.644302  0
1  0.114441   268.892458  0
2  0.228882   259.570802  0
3  0.343323   255.457923  0
4  0.457764   267.371884  0

In [39]:
data_1.tail()

                hz  ampliture  y
65531  7499.427795   2.815788  1
65532  7499.542236   2.331213  1
65533  7499.656677   3.427919  1
65534  7499.771118   3.356550  1
65535  7499.885559   1.527516  1

In [40]:
len(data_1)

131072

In [41]:
data_1 = pd.concat([basic_path, fire_siren_path], ignore_index=True)
data_1.head()

         hz    ampliture  y
0  0.000000  5845.644302  0
1  0.114441   268.892458  0
2  0.228882   259.570802  0
3  0.343323   255.457923  0
4  0.457764   267.371884  0

In [42]:
data_1.tail()

                 hz  ampliture  y
131067  7499.427795   2.815788  1
131068  7499.542236   2.331213  1
131069  7499.656677   3.427919  1
131070  7499.771118   3.356550  1
131071  7499.885559   1.527516  1

In [43]:
len(data_1)

131072

In [44]:
data_2 = pd.concat([data_1, fire_truck_path], ignore_index=True)
data_2.head()

         hz    ampliture  y
0  0.000000  5845.644302  0
1  0.114441   268.892458  0
2  0.228882   259.570802  0
3  0.343323   255.457923  0
4  0.457764   267.371884  0

In [45]:
data_2.tail()

                 hz  ampliture  y
196603  7499.427795   5.050782  2
196604  7499.542236   5.586551  2
196605  7499.656677   4.625564  2
196606  7499.771118   6.180280  2
196607  7499.885559   2.415623  2

In [46]:
len(data_2)

196608

In [47]:
data_3 = pd.concat([data_2, ambul_path], ignore_index=True)
data_3.head()

         hz    ampliture  y
0  0.000000  5845.644302  0
1  0.114441   268.892458  0
2  0.228882   259.570802  0
3  0.343323   255.457923  0
4  0.457764   267.371884  0

In [48]:
data_3.tail()

                 hz  ampliture  y
262139  7499.427795   5.301734  3
262140  7499.542236   6.235771  3
262141  7499.656677   6.966210  3
262142  7499.771118   4.212205  3
262143  7499.885559   8.278224  3

In [49]:
len(data_3)

262144

In [50]:
data_3.to_csv("data_v2.csv", header=True, index=False)
len(data_3)

262144