### 1. basic data

In [1]:
import pandas as pd

path_file = pd.read_csv('./basic.csv')
path_file.head()

         hz    ampliture
0  0.000000  5845.644302
1  0.114441   268.892458
2  0.228882   259.570802
3  0.343323   255.457923
4  0.457764   267.371884

In [2]:
path_file['y'] = 0
path_file.head()

         hz    ampliture  y
0  0.000000  5845.644302  0
1  0.114441   268.892458  0
2  0.228882   259.570802  0
3  0.343323   255.457923  0
4  0.457764   267.371884  0

In [3]:
path_file.tail()

                hz  ampliture  y
65531  7499.427795   1.044629  0
65532  7499.542236   1.024796  0
65533  7499.656677   1.065602  0
65534  7499.771118   1.332912  0
65535  7499.885559   1.279753  0

In [9]:
bins = list(range(0,7501,50))

In [10]:
bins_label = [int(x) for x in bins]
print(bins_label)

[0, 50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900, 950, 1000, 1050, 1100, 1150, 1200, 1250, 1300, 1350, 1400, 1450, 1500, 1550, 1600, 1650, 1700, 1750, 1800, 1850, 1900, 1950, 2000, 2050, 2100, 2150, 2200, 2250, 2300, 2350, 2400, 2450, 2500, 2550, 2600, 2650, 2700, 2750, 2800, 2850, 2900, 2950, 3000, 3050, 3100, 3150, 3200, 3250, 3300, 3350, 3400, 3450, 3500, 3550, 3600, 3650, 3700, 3750, 3800, 3850, 3900, 3950, 4000, 4050, 4100, 4150, 4200, 4250, 4300, 4350, 4400, 4450, 4500, 4550, 4600, 4650, 4700, 4750, 4800, 4850, 4900, 4950, 5000, 5050, 5100, 5150, 5200, 5250, 5300, 5350, 5400, 5450, 5500, 5550, 5600, 5650, 5700, 5750, 5800, 5850, 5900, 5950, 6000, 6050, 6100, 6150, 6200, 6250, 6300, 6350, 6400, 6450, 6500, 6550, 6600, 6650, 6700, 6750, 6800, 6850, 6900, 6950, 7000, 7050, 7100, 7150, 7200, 7250, 7300, 7350, 7400, 7450, 7500]

In [11]:
path_file["hz_level"] = pd.cut(path_file['hz'], bins, right=False, labels=bins_label[:-1])

In [14]:
path_file

                hz    ampliture  y hz_level
0         0.000000  5845.644302  0        0
1         0.114441   268.892458  0        0
2         0.228882   259.570802  0        0
3         0.343323   255.457923  0        0
4         0.457764   267.371884  0        0
5         0.572205   272.341706  0        0
6         0.686646   269.943081  0        0
7         0.801086   255.379295  0        0
8         0.915527   240.527424  0        0
9         1.029968   227.429173  0        0
10        1.144409   214.643211  0        0
11        1.258850   205.674763  0        0
12        1.373291   201.619662  0        0
13        1.487732   196.048709  0        0
14        1.602173   182.260116  0        0
15        1.716614   170.385776  0        0
16        1.831055   147.613240  0        0
17        1.945496   136.717116  0        0
18        2.059937   123.468631  0        0
19        2.174377   118.974462  0        0
20        2.288818   104.273902  0        0
21        2.403259    97.050561  0        0
22        2.517700    80.417869  0        0
23        2.632141    71.872792  0        0
24        2.746582    56.450112  0        0
25        2.861023    44.199532  0        0
26        2.975464    35.338241  0        0
27        3.089905    32.228723  0        0
28        3.204346    24.447112  0        0
29        3.318787    18.171702  0        0
...            ...          ... ..      ...
65506  7496.566772     0.235364  0     7450
65507  7496.681213     0.196555  0     7450
65508  7496.795654     0.242566  0     7450
65509  7496.910095     0.456805  0     7450
65510  7497.024536     0.569120  0     7450
65511  7497.138977     0.379289  0     7450
65512  7497.253418     0.428025  0     7450
65513  7497.367859     0.335178  0     7450
65514  7497.482300     0.558703  0     7450
65515  7497.596741     0.829311  0     7450
65516  7497.711182     0.606367  0     7450
65517  7497.825623     0.790816  0     7450
65518  7497.940063     0.607490  0     7450
65519  7498.054504     1.036170  0     7450
65520  7498.168945     0.958522  0     7450
65521  7498.283386     0.658919  0     7450
65522  7498.397827     0.766585  0     7450
65523  7498.512268     0.930053  0     7450
65524  7498.626709     1.229553  0     7450
65525  7498.741150     1.151574  0     7450
65526  7498.855591     1.014853  0     7450
65527  7498.970032     0.886490  0     7450
65528  7499.084473     1.209289  0     7450
65529  7499.198914     1.250874  0     7450
65530  7499.313354     1.172436  0     7450
65531  7499.427795     1.044629  0     7450
65532  7499.542236     1.024796  0     7450
65533  7499.656677     1.065602  0     7450
65534  7499.771118     1.332912  0     7450
65535  7499.885559     1.279753  0     7450

[65536 rows x 4 columns]

In [18]:
path_file.hz_level.value_counts().to_frame().style.background_gradient(cmap='summer')

In [4]:
basic = path_file.loc[0:999]
basic.tail()

             hz  ampliture  y
995  113.868713  13.383463  0
996  113.983154  20.113768  0
997  114.097595  11.723803  0
998  114.212036   4.341749  0
999  114.326477   0.684889  0

In [5]:
basic.to_csv("basic_data.csv", header=True, index=False)
len(basic)

1000

### 2. fire_siren data

In [6]:
path_file_2 = pd.read_csv('./fire_siren.csv')

path_file_2.head()

         hz     ampliture
0  0.000000  11991.170350
1  0.114441    463.173330
2  0.228882    713.324933
3  0.343323    446.103154
4  0.457764    306.667512

In [7]:
path_file_2['y'] = 1
path_file_2.head()

         hz     ampliture  y
0  0.000000  11991.170350  1
1  0.114441    463.173330  1
2  0.228882    713.324933  1
3  0.343323    446.103154  1
4  0.457764    306.667512  1

In [8]:
path_file_2.tail()

                hz  ampliture  y
65531  7499.427795   2.815788  1
65532  7499.542236   2.331213  1
65533  7499.656677   3.427919  1
65534  7499.771118   3.356550  1
65535  7499.885559   1.527516  1

In [9]:
fire_siren = path_file_2.loc[0:999]
fire_siren.tail()

             hz  ampliture  y
995  113.868713  18.481941  1
996  113.983154  20.606362  1
997  114.097595  41.745309  1
998  114.212036  20.541159  1
999  114.326477  15.314640  1

In [10]:
fire_siren.to_csv("fire_siren_data.csv", header=True, index=False)
len(fire_siren)

1000

### 3. fire_truck data

In [11]:
path_file_3 = pd.read_csv('./fire_truck.csv')

path_file_3.head()

         hz    ampliture
0  0.000000  7859.148911
1  0.114441   610.070183
2  0.228882   117.706643
3  0.343323   178.497290
4  0.457764   236.253854

In [12]:
path_file_3['y'] = 2
path_file_3.head()

         hz    ampliture  y
0  0.000000  7859.148911  2
1  0.114441   610.070183  2
2  0.228882   117.706643  2
3  0.343323   178.497290  2
4  0.457764   236.253854  2

In [13]:
path_file_3.tail()

                hz  ampliture  y
65531  7499.427795   5.050782  2
65532  7499.542236   5.586551  2
65533  7499.656677   4.625564  2
65534  7499.771118   6.180280  2
65535  7499.885559   2.415623  2

In [14]:
fire_truck = path_file_3.loc[0:999]
fire_truck.tail()

             hz  ampliture  y
995  113.868713   6.660062  2
996  113.983154   1.880054  2
997  114.097595   7.905661  2
998  114.212036  12.539993  2
999  114.326477   4.179296  2

In [15]:
fire_truck.to_csv("fire_truck_data.csv", header=True, index=False)
len(fire_truck)

1000

### 4. ambul data

In [16]:
path_file_4 = pd.read_csv('./ambul.csv')

path_file_4.head()

         hz    ampliture
0  0.000000  9438.999146
1  0.114441   311.445896
2  0.228882   323.734531
3  0.343323   260.421789
4  0.457764    18.989287

In [17]:
path_file_4['y'] = 3
path_file_4.head()

         hz    ampliture  y
0  0.000000  9438.999146  3
1  0.114441   311.445896  3
2  0.228882   323.734531  3
3  0.343323   260.421789  3
4  0.457764    18.989287  3

In [18]:
path_file_4.tail()

                hz  ampliture  y
65531  7499.427795   5.301734  3
65532  7499.542236   6.235771  3
65533  7499.656677   6.966210  3
65534  7499.771118   4.212205  3
65535  7499.885559   8.278224  3

In [19]:
ambul = path_file_4.loc[0:999]
ambul.tail()

             hz  ampliture  y
995  113.868713  31.534474  3
996  113.983154  20.740961  3
997  114.097595  10.694307  3
998  114.212036  12.891697  3
999  114.326477  18.067423  3

In [20]:
ambul.to_csv("ambul_data.csv", header=True, index=False)
len(ambul)

1000

## Merge Data

In [21]:
data_1 = pd.concat([basic,fire_siren])
data_1.head()

         hz    ampliture  y
0  0.000000  5845.644302  0
1  0.114441   268.892458  0
2  0.228882   259.570802  0
3  0.343323   255.457923  0
4  0.457764   267.371884  0

In [22]:
data_1.tail()

             hz  ampliture  y
995  113.868713  18.481941  1
996  113.983154  20.606362  1
997  114.097595  41.745309  1
998  114.212036  20.541159  1
999  114.326477  15.314640  1

In [23]:
len(data_1)

2000

In [24]:
data_1 = pd.concat([basic,fire_siren], ignore_index=True)
data_1.head()

         hz    ampliture  y
0  0.000000  5845.644302  0
1  0.114441   268.892458  0
2  0.228882   259.570802  0
3  0.343323   255.457923  0
4  0.457764   267.371884  0

In [25]:
data_1.tail()

              hz  ampliture  y
1995  113.868713  18.481941  1
1996  113.983154  20.606362  1
1997  114.097595  41.745309  1
1998  114.212036  20.541159  1
1999  114.326477  15.314640  1

In [26]:
len(data_1)

2000

In [27]:
data_2 = pd.concat([data_1,fire_truck], ignore_index=True)
data_2.head()

         hz    ampliture  y
0  0.000000  5845.644302  0
1  0.114441   268.892458  0
2  0.228882   259.570802  0
3  0.343323   255.457923  0
4  0.457764   267.371884  0

In [28]:
data_2.tail()

              hz  ampliture  y
2995  113.868713   6.660062  2
2996  113.983154   1.880054  2
2997  114.097595   7.905661  2
2998  114.212036  12.539993  2
2999  114.326477   4.179296  2

In [29]:
len(data_2)

3000

In [30]:
data_3 = pd.concat([data_2, ambul], ignore_index=True)
data_3.head()

         hz    ampliture  y
0  0.000000  5845.644302  0
1  0.114441   268.892458  0
2  0.228882   259.570802  0
3  0.343323   255.457923  0
4  0.457764   267.371884  0

In [31]:
data_3.tail()

              hz  ampliture  y
3995  113.868713  31.534474  3
3996  113.983154  20.740961  3
3997  114.097595  10.694307  3
3998  114.212036  12.891697  3
3999  114.326477  18.067423  3

In [32]:
len(data_3)

4000

In [33]:
data_3.to_csv("data.csv", header=True, index=False)
len(data_3)

4000